
.footer {
    padding: 5%;
    background-color: #131929;

}

section button {
    padding: 8px 16px;
    border: none;
    background-color: #171819; /* example color */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

section button:hover {
    color:black;
    background-color: #d2d9dd;  /* darker shade on hover */
    transform: scale(1.05);      /* slight zoom effect */
}